.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 0%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 80%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.titulo-senal
  position: relative
  background-color: $color-secundario

  img
    position: absolute 
    top: 0 
    left: 0
    transform: translateX(-50%)
  h5 
    margin-left: 1.5rem
    margin-right: 1.5rem
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title, .linea-tiempo-d__item__content__slot
  background-color: #fff5c5
.cajon-b.color-acento-contenido:before
  background-color: #ffedc5
  opacity: 1
  height: 100%
.cajon-b.color-primario:before
  background-color: #ffedc5
  opacity: 1
  height: 100%
.cajon-b.arriba-derecha:before 
  height: 100%
.pasos-a.color-acento-contenido .pasos-a__circle div
  color: $color-sistema-texto
.slyder-a__bullets__item--active
  background-color: #000000 !important
  border: 0
.slyder-a__bullets__item
  background-color: #a5927b
  border: 0
.text-system
  h1,h2,h3,h4,h5,h6,p,b,span,a, em
    color: $color-sistema-texto !important
.box-s
  box-shadow: 2px 1px 10px 1px #0000003b